body{
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background: url('https://images2.alphacoders.com/136/1360350.png');
	background-size: cover;
}

.wrapper {
    width: 100%;
	margin: auto
}

#header {
    background-color: white;
    padding: 20px 0;
}

#header img {
    width: 300px;
}

#header i {
    padding: 10px;
}

#header a {
    color: grey;
    text-decoration: none;
}

#header a:hover {
    background-color: grey;
    color: white;
    padding: 5px;
    border-radius: 5px;
}


.gallery{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
	
}
.gallery img{
	width: 200px;
	height: 300px;
	margin: 15px;
	border: 2px;
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.footer {
	background-color: white;
	color: whote;
	text-align: center;
	padding:10px;
	position: fixed;
	width: 100%
	bottom: 0;
}
.section{
	padding: 20px: 0
}

.container {
    width: 80%;
    margin: auto;
    padding: 25px 0;
}
.left img{
	width; 150px
}
.right a{
	margin: 0 10px;
}

#body {
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqgecd1SVbxszYWhOUxfYy45zg99SYDbuQGg&s");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%
}

#header {
    background-color: white;
    padding: 20px 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

#header img {
    width: 300px;
}

#header i {
    padding: 10px;
}

#header a {
    color: grey;
    text-decoration: none;
}

#header a:hover {
    background-color: grey;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.btn{
	background-color:white;
	border: none;
	border-radius; 5px
}
.btn:hover{
	background-color: grey
}


	
.footer{
    width: 100%;
    background-color: #f1f1f1;
}


		

.content {
    width: 90%; 
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
	display:flex;
	align-items:center;
	gap: 10 px;
}

.left img {
    width: 100px;
}

#title {
	font-size: 24px;
	font-weight: bold;
	color: white;
}

.right {
    display: flex;
    gap: 15px; 
    margin-left: auto; 
}

.right a {
    color: #80e841;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s;
}

.right a:hover {
    color: #2b5710;
}

.section#gallery {
    background-image: url('middle.jpg');
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.section#gallery h1 {
    margin-bottom: 30px;
    font-size: 36px;
}

.gallery-container {
    background-color: lightblue ;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap; 
    border-radius: 10px;
}

.gallery-container img {
    width: 180px;
    height: 140px;
    object-fit: cover;
    border: 2px solid #2b5710;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.gallery-container img:hover {
    transform: scale(1.05);
}
